<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salons</title>
</head>
<body>
    <h1>All Hair Salons</h1>
    <div>
        <a href="/salons/new">Add hair salon</a>
    </div>
    <ul>
        <% for (let salon of salons) {%>
            <li><a href="/salons/<%=salon._id %>"><%= salon.title %></a></li>
        <%} %> 
    </ul>
</body>
</html>