<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Hair Salon</title>
</head>
<body>
    <h1>Add Hair Salon</h1>
    <form action="/salons" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="salon[title]">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="salon[location]">
        </div>
        <button>Add Hair Salon</button>
    </form>
    <a href="/salons">All Hair Salons</a>
</body>
</html>